<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
      <source src="/assets/college/images/course-video.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay header-text">
      <div class="container" *ngFor="let data of userviewarray">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption"> 
              <h6>Hello Students</h6> 
              <h2>Welcome to PG Course Finder</h2>
              <p> Welcome ,{{data?.user_name}}, &nbsp; to the platform, where you can explore The colleges  register for the
                available seats. During seat booking, seats will be allocated based on predefined categories 
                Additionally, management seat applicants may make advance payment
              <div class="main-button-red">
                <div class="scroll-to-section"><a [routerLink]="['/usermaster/usercollegeview']">Search Colleges</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>College view</h2>
            <div class="main-button-red">
            </div>
          </div>
        </div>
        <div class="col-lg-4" *ngFor="let data of collegeviewdataArray.slice(0,3)"><br>
          <div class="categories" style="height:350px;">
            <h4>College Name:&nbsp;&nbsp;&nbsp;&nbsp;{{data?.college_name}}</h4>
            <img src="http://localhost:3000/images/{{data?.college_imge}}" alt="">
          </div>
          <br> <br>
        </div>
        <div style="text-align: center; color: aliceblue;">
          <div class="main-button-red">
            <a [routerLink]="['/usermaster/usercollegeview']">View more</a>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Search College by UG course</h2>
            <div class="main-button-red">
            </div>
          </div>
        </div>
        <div class="col-lg-4" *ngFor="let data of ugdataArray.slice(0,3)"><br>
          <div class="categories" style="height:350px;">
            <h4>Ugcourse Name:&nbsp;&nbsp;&nbsp;&nbsp;{{data?.ugcourse_name}}</h4>
            <a [routerLink]="['/usermaster/userfiltercollegeug',data.ugcourse_id]">
              <img src="http://localhost:3000/images/{{data?.ugcourse_img}}" alt="">
          </a>
          </div>
          <br> <br>
        </div>
        <div style="text-align: center; color: aliceblue;">
          <div class="main-button-red">
            <a [routerLink]="['/usermaster/userfiltercollege']">View more</a>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 