<div class="main-content">
    <div class="breadcrumb-wrap mb-20">
        <div class="d-md-flex d-block justify-content-between align-items-center">
            <div class="left">
                <h1>ug course update</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="panel mb-10">
            <div class="panel-body">
                <form [formGroup]="ugcourseeditform">
                    <div>
                        <div *ngFor="let data of ugArray">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Ugcourse</label>
                            <input type="text" class="form-control" placeholder="enter Pgcourse name"
                                formControlName="ugcourse_name">
                            <input type="hidden" formControlName="ugcourse_id">
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3cg">Image</label>
                            <input class="form-control" type="file" formControlName="ugcourse_img"
                                (change)="selectFile($event)" />
                        </div>
                            <img src="http://localhost:3000/images/{{data.ugcourse_img}}" alt="" width="200"
                                height="200">
                        </div>
                        <div class="d-flex justify-content-center">
                        </div><br><br>
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>