<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Seat Booking</h2>
      </div>
    </div>
  </div>
</section>
<section class="contact-us" id="contact">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-9 align-self-center">
        <div class="row">
          <div class="col-lg-12">
            <form id="contact" [formGroup]="userseatreg">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Booking Yor seat </h2>
                </div>
                <div class="col-lg-12">
                  <div class="panel-body">

                    <div class="table-responsive">
                      <table class="table table-hover table-bordered">
                        <thead class="custom-table-header">
                          <tr>
                            <th>Pg Course Name</th>
                            <th>Category Name</th>
                            <th>Number Of Seats</th>
                            <th>Book</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of collegepgdataArray; let i=index">
                            <td> {{data.pgcourse_name}}</td>
                            <td> {{data.category_name}}</td>
                            <td>{{data.seat_number}}</td>
                            <td>
                              <button class="main-button-red" (click)="onSubmit(data.seat_id)">
                                Book
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                      <div *ngFor="let data of collegesemdataArray;"
                        style="border: 2px solid #ccc; padding: 10px; margin: 10px; border-radius: 8px; background-color: #f5f5f5;">
                        <label style="font-size: 16px; font-weight: bold; margin-bottom: 8px; display: block;">Pg
                          Course: {{data.pgcourse_name}}</label>
                        <label style="font-size: 14px;">Semester fees details: {{data.fees}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><br><br><br>
  </div>
</section>