$heading-font: 'Roboto Condensed', sans-serif;

$white: #fff;
$black: #414141;

$main-bg: #f2f7ff;

$color-1: #9cd02d;
$color-2: #5b712b;
$color-3: #D2E34A;
$color-4: #7ca524;

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

$primary-light: #ebf3ff;
$secondary-light: #e6eaee;
$success-light: #d2ffe8;
$info-light: #e6fdff;
$warning-light: #fffdd8;
$danger-light: #ffdede;
$light-light: #f8f9fa;
$dark-light: #7b7b7b;

$gradient-1: linear-gradient(45deg, $color-1, $color-3);
$gradient-2: linear-gradient(45deg, $color-3, $color-1);
$gradient-3: linear-gradient(45deg, $color-1, $color-2);